.site-footer {
    background-color: #dfdfdf;
    color: #272727;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-info {
    margin: 15px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }