.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 30px;
}


.item { 
  background-color: #fff;
  padding: 20px;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
